<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
      h1{font-size: arial;
          align-items: center;
          border-bottom:solid;
      }
      h6{font-size: arial;
          align-items: center;
          text-color:rgb(71, 67, 67)
      }
    </style>
</head>
<body>
  <h1>Monte sua prova</h1>
  <h6>Você pode utilizar nossos modelos de provas com questões prontas, usar a IA para te ajudar a criar questões ou criar suas proprias questões.</h3>
  <hr>
  <div class="card">
  <div class="card-body" style="padding:50px ">
    <h5 class="card-title">Modelo de prova</h5>
    <p class="card-text">Materia: Banco Dados.<br>Quantidades de questões: 10<br>Assuntos: Modelo relacional</p>
    <a href="/quest/listquest" class="btn btn-dark">Use na sua prova</a>
  </div>
   <div class="card-body" style="padding:50px ">
    <h5 class="card-title">Modelo de prova</h5>
    <p class="card-text">Materia: Autoria web.<br>Quantidades de questões: 10<br>Assuntos: Propriedades </p>
    <a href="/quest/listquest" class="btn btn-dark">Use na sua prova</a>
  </div>
</div>
</body>
</html>