<aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">
      <i class="bi bi-list"></i> Menu
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <nav>
      <ul class="navbar-nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link" href="/admin/">
            <i class="bi bi-house"></i> Dashboard
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/exam/listprova">
            <i class="bi bi-file-earmark-text"></i> Suas Provas
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/quest/listquest">
            <i class="bi bi-question-circle"></i> Suas Questões
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/subject/listassunto">
            <i class="bi bi-bookmark"></i> Assuntos
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/exam/createprova">
            <i class="bi bi-file-earmark-plus"></i> Criar Prova
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/quest/createquest">
            <i class="bi bi-plus-circle"></i> Criar Questão
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="/IA/chat">
            <i class="bi bi-lightning-charge"></i> IA - Gerar Questões
          </a>
        </li>
        <li class="nav-item mt-4 pt-3 border-top">
          <a class="btn btn-danger w-100" href="/user/logout">
            <i class="bi bi-box-arrow-right"></i> Sair
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
