<aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="">Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exam/listprova">Suas provas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quest/listquest">Suas questões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quest/createquest">Criar questão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/IA/chat">Criar questão com IA</a>
        </li>
        <li class="nav-item mt-3">
          <a class="btn btn-outline-danger w-100" href="/user/logout">Sair</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Abrir menu</button>
