<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid navbar-content">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-center" href="/admin/">
      <i class="bi bi-book"></i> ProfTech
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navbar links removed per UI request. Use sidebar for navigation. -->
    </div>
  </div>
</nav>

<style>
.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-toggler {
  position: absolute;
  left: 20px;
  z-index: 1000;
}

.navbar-center {
  flex: 1;
  text-align: center;
  margin: 0;
}

.collapse.navbar-collapse {
  flex-basis: auto;
}
</style>