<h1>atualizar assunto {{assunto.nome_assunto}}</h1>

<form action="/subject/atualizarassunto/{{assunto.cod_assunto}}" method="POST">
    <label>nome do assunto</label>
    <input type="text" id="nome_assunto" name="nome_assunto" placeholder="nome_assunto">
    <br>
    <button type="submit">atualizar</button>
</form>