{{#each erros}}
    <div class="alert alert-danger" role="alert">
        {{texto}}
    </div>
{{else}}
{{/each}}

<h1>Cadastre-se</h1>
<div class="card">
    <div class="card-body">
        <form action="/user/cadastro" method="post">
            <label>nome</label>
            <input type="text" id="name" name="nome" placeholder="nome">
            <br>
            <label>email</label>
            <input type="email" id="email" name="email" placeholder="email">
            <br>
            <label>senha</label>    
            <input type="password" id="password" name="password" placeholder="senha">
            <br>
            <label>repita a senha</label>
            <input type="password" id="password2" name="password2" placeholder="confirme sua senha">
            <br>
            <button type="submit">Cadastra-se</button>
            <a href="/User/login">login</a>
        </form>
    </div>
</div>