<h1>Lista de Usuários</h1>
<ul>
    {{#each usuarios}}
            <li>{{this.dataValues.nome}} - {{this.dataValues.email}}</li>
            <a href='/user/del/{{this.dataValues.cod_usuario}}'><button>deletar</button></a>
    {{/each}}
</ul>

