<h1>Questões</h1>
{{#each questoes}}
    <a href="/quest/readquest/{{this.dataValues.cod_questao}}">
    <div>
        <p><b>{{this.dataValues.enunciado}}</b></p>
    </div>
    </a>
{{else}}
    <h3 class="mt-4">Não há questões cadastradas</h3>
{{/each}}
<a href="/quest/createquest"><button class="btn btn-success"></button>criar questão</button></a>
<a href="/IA/chat"><button class="btn btn-success">criar questão com IA</button></a>
